web: java -Dspring.jpa.hibernate.ddl-auto=update -Dspring.datasource.url=$JDBC_DATABASE_URL -Dspring.datasource.driverClassName=org.postgresql.Driver -Dserver.port=$PORT -jar wasted-app/target/app-wastedtime-[VERSION].jar